<img src= "https://www.wilsonvilleparksandrec.com/sites/default/files/styles/gallery500/public/imageattachments/parksrec/page/8641/community-garden.jpg?itok=4CCzOM4p">

<% if @gardens.empty? %>
  <br //>
   There are no gardens currently!
  <form action="/gardens/new" method="GET">
  <input type="submit" value="Build First Garden">
  </form>
  
<%else%> 

  
  <h3> These are all the gardens in the community<h3>
 
  <form action="/gardeners/<%=current_user.id%>" method="GET">
  <input type="submit" value="Go to Only Your Gardens">
  </form>


  <% @gardens.each do |garden| %>
  <div>
    <label>Garden Name:</label> <%= garden.name %>
    <p><label>Size:</label><%= garden.size %> sq.ft</p>
  </div>
  <div>  

    <form action ="/gardens/<%=garden.id%>" method="GET">
    <input type="submit" value="Visit">
    </form>

    <form action="/gardens/<%=garden.id%>/edit" method="POST">
    <input type="submit" value="Edit">
    </form>

    <form action="/gardens/<%=garden.id%>/delete" method="post">
    <input type="submit" value="Deconstruct">
    </form>
    </p>


    <br />
  <br />
<% end %>

<%end%>