<img src= "https://www.wilsonvilleparksandrec.com/sites/default/files/styles/gallery500/public/imageattachments/parksrec/page/8641/community-garden.jpg?itok=4CCzOM4p">

<% if @gardens.empty? %>
  <br //>
   There are no gardens currently!
  <form action="/gardens/new" method="GET">
  <input type="submit" value="Build First Garden">
  </form>
  
<%else%> 

  
  <h3> These are all the gardens in the community<h3>
 
  <form action="/gardeners/<%=current_user.id%>" method="GET">
  <input type="submit" value="Go to Only Your Gardens">
  </form>


  <% @gardens.each do |garden| %>
  <div>
    <% if current_user.id == garden.gardener_id %>
    <label>Garden Name:</label> <%= garden.name %>
    <p><label>Size:</label><%= garden.size %> sq.ft</p>
  </div>
  <div>  
    
    <a href = "/gardens/<%=garden.id%>">Visit</a>
  
    <a href ="/gardens/<%=garden.id%>/edit">Edit</a>
    

    <form action="/gardens/<%=garden.id%>/delete" method="post">
    <input name="_method" type="hidden" value="DELETE"/>
    <input type="submit" value="Deconstruct">
    </form>
    </div>
    <%else%>
    <label>Garden Name:</label> <%= garden.name %>
    <p><label>Size:</label><%= garden.size %> sq.ft</p>
  </div>
     <div> 

    <a href = "/gardens/<%=garden.id%>">Visit</a>

    </div>
    <%end %>


    <br />
  <br />
<% end %>

<%end%>