
    <label>Name:</label>
    <%= @garden.name %> <br />
    <p><label>Size:</label>
    <%= @garden.size %> sq. ft<p> <br />
    
   <% if @garden.gardener_id == current_user.id %>
    Welcome back to your garden, <%=current_user.username%>!


    <form action='/gardens/<%=@garden.id%>/edit' method="POST">
    <input type='submit' value="Rebuild">
    </form>

    <form action='/gardens' method="GET">
    <input type='submit' value="Go back to gardens">
    </form>
   <%else%>
    Welcome to this garden, created by <%=@gardeners.find(@garden.gardener_id).username%>!
    <form action='/gardens' method="GET">
    <input type='submit' value="Go back to gardens">
    </form>

   <%end%>



