<%= @garden.name %><br />
  <%= @garden.size %> <br />
  <ul>
  <% @garden.flowers.each do |flower| %>
    <li><a href="/flowers/<%=flower.id%>"><%= flower.name %></a></li>
  <% end%>
  </ul>
 

  <form action="/gardens/<%=@garden.id%>/edit?" method="POST">
  <input type="submit" value="Redo">
  </form>


  <br />
  <br />