<!doctype html>
<html>
  <head>

    <title>Flower Selection Picker</title>
  </head>
  <body>
  <nav>
    <% if logged_in? %>
      <a href="/gardens/new">Build New Garden</a>
      <a href="/gardens">Community Gardens</a>
      <a href="/gardeners/<%=current_user.id%>">Your Gardens</a>

      <a href="/logout"> Log Out </a>
      <p>Welcome, <%=current_user.username %></p>

    <% else %>
      <a href="/signup"> Sign Up </a>
      <a href="/login"> Login </a>
    <%end %>

  </nav>
  <div class="container">
    <h1>Garden World</h1>
    
  

  <% flash.keys.each do |type| %>
    <div data-alert class="flash <%= type %> alert-box radius">
      <%= flash[type] %>
      <a href="" class="close">&times;</a>
    </div>
  <% end %>
  
    <%= yield %>
  </div>
  </body>
</html>
